@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap');

body {
    background: #66CDAA;
    font-family: 'Raleway', sans-serif;
}

h1, h2, p {
    text-align: center;
}

a {
    float: left;
    width: 25%;
    text-align: center;
}